body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(106, 176, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.prvi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drugi {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  width: 320px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(10, 75, 120);
  font-size: 22px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-field input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
  background: rgba(255, 255, 255, 0.9);
}

.input-field input::placeholder {
  color: rgb(153, 153, 153);
}

.input-field select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(204, 204, 204);
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  outline: none;
  color: rgb(153, 153, 153);
}

.input-field input[type="date"] {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(204, 204, 204);
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  outline: none;
  color: rgb(153, 153, 153);
}

.input-field input:hover,
.input-field select:hover {
  border-color: rgb(153, 153, 153);
}

.input-field input:focus,
.input-field select:focus {
  border-color: rgb(10, 75, 120);
  outline: none;
  background: rgba(255, 255, 255, 1);
  color: rgb(68, 68, 68);
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 13px;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(73, 123, 165), rgb(43, 93, 132));
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  transition: 0.2s ease;
}

.btn:hover {
  background: linear-gradient(to right, rgb(43, 93, 132), rgb(73, 123, 165));
}

.forgot-btn {
  margin-top: 12px;
  background: none;
  border: none;
  color: rgb(10, 75, 120);
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  font-weight: 500;
}

.forgot-btn:hover {
  text-decoration: underline;
}

.toggle {
  text-align: center;
  margin-top: 18px;
  font-size: 13px;
  color: rgb(68, 68, 68);
}

.toggle-link {
  color: rgb(10, 75, 120);
  font-weight: bold;
  cursor: pointer;
  margin-left: 4px;
}

.toggle-link:hover {
  text-decoration: underline;
}
